$w1:100px;
.home{
  &__title{
    text-transform: uppercase;
    @extend .fz-33;
    font-family: $font-Montserrat-Bold;
    color: #{$primary-color};
    letter-spacing: 0.83px;
    margin: 0;
  }
  &__blockBanner{
    min-height: 811px;
    background-color: #{$primary-color};
    &__title{
      @extend .fz-45;
      letter-spacing: 1.13px;
      font-family: $font-Montserrat-ExtraBold;
    }
    &__card{
      padding: 20px;
    }
    &__input{
      color: #1d1d1b;
      @extend .fz-18;
      font-family: $font-Roboto;
      background-color: #DCDCDC;
      border-radius: 4px;
      &::placeholder{
        color: #1d1d1b;
      }
    }
    &__btn{
      background: #{$secondary-color};
      border-color: #{$secondary-color};
      color: #ffffff;
      @extend .fz-21;
      font-family: $font-Roboto-Light;
    }
  }
  &__blockHuongdan{
    background-color: #{$primary-color};
    &__boximg{
      background-color: #{$secondary-color};
    }
    &__boxLabel{
      margin-top: -25px;
    }
    &__label{
      font-family: $font-Roboto-Black;
      min-width: 114px;
      min-height: 34px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @extend .fz-14;
      color: #ffffff !important;
      background-color: #{$primary-color} !important;
    }
    &__txt1{
      color: #e98819;
      @extend .fz-22;
      text-transform: uppercase;
      font-family: $font-Roboto-Black;
    }
    &__txt2{
      @extend .fz-18;
      color: #1d1d1b;
      font-family: $font-Roboto;
      i{
        font-family: $font-Roboto-BoldItalic;
      }
    }
    &__box{
      padding: 10px;
      position: relative;
      z-index: 2;
    }
  }
  &__blockNganhhot{
    position: relative;
    $x:790vw;
    &__circleTop{
      @extend .home__blockNganhhot__circle;
      bottom: 100%;
      &:before{
        content: "";
        width: #{$x};
        height: #{$x};
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
    }
    &__circleBottom{
      @extend .home__blockNganhhot__circle;
      top: 100%;
      &:before{
        content: "";
        width: #{$x};
        height: #{$x};
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }
    }
    &__circle{
      position: absolute;
      height: 60px;
      display: flex;
      left: 0;
      right: 0;
      overflow: hidden;
    }
    &__list{
      >li{
        margin: 0 !important;
        color: #1d1d1b;
        @extend .fz-18;
      }
    }
    &__boxImg{
      background-color: #{$secondary-color};
      background-repeat: no-repeat;
      background-position: center;
    }
    &__txt{
      color: #1d1d1b;
      @extend .fz-22;
      font-family: $font-Roboto-Black;
      text-transform: uppercase;
    }
  }
  &__blockReview{
    background: linear-gradient(to right, #{$primary-color}, #F07271);
    &__card{

    }
    &__txt1{
      @extend .fz-16;
      color: #1d1d1b;
      font-family: $font-Roboto-Italic;
    }
    &__txt2{
      color: #1d1d1b;
      @extend .fz-16;
      font-family: $font-Roboto-Bold;
    }
  }
  &__blockDangky{
    background-color: #{$secondary-color};
    &__bgImg{
      $x:70px;
      position: relative;
      bottom: calc(0px - #{$x});
    }
    &__title{
      letter-spacing: 0.55px;
      margin: 0;
      @extend .fz-22;
      font-family: $font-Montserrat-ExtraBold;
      color: #ffffff;
    }
    &__input{
      color: #1d1d1b;
      @extend .fz-18;
      font-family: $font-Roboto;
      &::placeholder{
        color: #1d1d1b;
      }
    }
    &__select{
      @extend .home__blockDangky__input;
      text-transform: inherit;
      text-align: left;
      padding: 0 10px;
      position: relative;
      background: #ffffff;
      .uk-icon{
        right: 6px;
      }
      .home__blockBanner__card &{
        border-radius: 4px;
        background: #DCDCDC;
      }
    }
    &__btn{
      @extend .fz-21;
      font-family: $font-Roboto-Light;
      color: #ffffff;
      background: linear-gradient(to right, #{$primary-color}, #F07271);
    }
  }
}