$w1:100px;
.home{
  &__title{
    text-transform: uppercase;
    @extend .fz-33;
    font-family: $font-Montserrat-Bold;
    color: #{$primary-color};
    letter-spacing: 0.83px;
    margin: 0;
  }
  &__blockReview{
    @include media-breakpoint-up('m'){
      padding-top: #{$w1};
    }
    background: linear-gradient(to right, #{$primary-color}, #F07271);
    &__card{

    }
    &__txt1{
      @extend .fz-16;
      color: #1d1d1b;
      font-family: $font-Roboto-Italic;
    }
    &__txt2{
      color: #1d1d1b;
      @extend .fz-16;
      font-family: $font-Roboto-Bold;
    }
  }
  &__blockDangky{
    background-color: #{$secondary-color};
    &__bgImg{
      $x:70px;
      position: relative;
      bottom: calc(0px - #{$x});
    }
    &__title{
      letter-spacing: 0.55px;
      margin: 0;
      @extend .fz-22;
      font-family: $font-Montserrat-ExtraBold;
      color: #ffffff;
    }
    &__input{
      color: #1d1d1b;
      @extend .fz-18;
      font-family: $font-Roboto;
      &::placeholder{
        color: #1d1d1b;
      }
    }
    &__select{
      @extend .home__blockDangky__input;
      text-transform: inherit;
      text-align: left;
      padding: 0 10px;
      position: relative;
      background: #ffffff;
      .uk-icon{
        right: 6px;
      }
    }
    &__btn{
      @extend .fz-21;
      font-family: $font-Roboto-Light;
      color: #ffffff;
      background: linear-gradient(to right, #{$primary-color}, #F07271);
    }
  }
}